/**********************
* Additional CSS
*  A. Blejec
************************/
/*    #wrapper {

        width: 1100px;
        margin: 0px auto;
    }
    #stream {
      width: 800px;
      background: #ccc;
      float: left;
    }
    */
    #sidebar {
    float: right;
      width: 200px;
    }
    aside {
      position: fixed;
      float: right;
      top: 80px;
      margin-left:16em;
      width:12em;
      text-align:left;}
    }
