/**********************
* Additional CSS
*  A. Blejec
************************/
/*    #wrapper {

        width: 1100px;
        margin: 0px auto;
    }
    #stream {
      width: 800px;
      background: #ccc;
      float: left;
    }
    */
    #sidebar {
    float: right;
      width: 200px;
    }
    aside {
      position: fixed;
      top: 80px;
      margin-left:16em;
      width:10em;
      text-align:left;
      }
      .header{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;
      display:block;padding:.7em 1em .7em;color:#000000;}
/**
 * TAGS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.tags {
  list-style: none;
  padding: 0;
  text-align: justify; }

.tags li {
  display: inline-block;
  margin: 0 2px 2px 0; }

.tags li:last-child {
  margin-right: 0; }

.tag {
  background: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px #ccc;
  -moz-box-shadow: 1px 1px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px #ccc;
/*  
  color: #888; 
  color: #333333
*/

  padding: 2px 4px 2px 4px;
  text-decoration: none; }

.tag:visited {
/*  
  color: #888; 
  color: #333333
*/}

.tag:hover {
  background: #ccc;
  color: #777; }
